body{
  background-color: rgb(221, 171, 207);
}
.signuppage {
  max-width: 400px;
  margin: 7em auto;
  padding:  60px;
  border: 1px solid #ccc;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.signuppage h4{
  color: #872278;
}

#signupForm h4 {
  text-align: center;
  margin-bottom: 20px;
}

#signupForm p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

#signupForm .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#signupForm .btn {
  width: 100%;
  padding: 10px;
  background-color: #9b348c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signupForm .btn:hover {
  background-color: #872278;
}

#signupForm .signup {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: #9b348c;
  text-align: center;
}
