<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="Cart.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="cart_page">
            <div class="cart_header">
                <div class="header_product">Product</div>
                <div class="header_quantity">Quantity</div>
                <div class="header_subtotal">Subtotal</div>
            </div>
            <div class="cart_info"></div>

            <div class="sub_total"></div>

            <div class="price_detail">
                <div class="price_row">
                    <div class="price_label">Subtotal</div>
                    <div class="subtotal_price">$0</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Tax</div>
                    <div>$100</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Delivery Fee</div>
                    <div>$250</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Total</div>
                    <div class="total_price">$0</div>
                </div>
            </div>
        </div>
    </main>
    <script src="Cart1.js"></script>
</body>
</html>
