<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="Catalog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<main> 
    <div class="container">
    <!-- second navbar for filter and view option -->
    <div class="navbar2">
        <div class="navbar_images">
        <button class="image_button"  onclick="alert('Button clicked!')">
            <img src="../images/filter.png" alt="Click Me">
        </button>
        <button class="image_button"  onclick="alert('Button clicked!')">
            <img src="../images/view1.png" alt="Click Me">
        </button>
        </div>
    </div>
    <!-- appear when search for any object (to go back to home page) -->
    <div class="searched_no">
        <button class="back_button_img" onclick="redirectToHomePage()"><img src="../images/back.png" alt="back"></button>
        <button class="back_button_text" onclick="redirectToHomePage()"><span>49</span> &nbsp; Results Found</button>
    </div>
    <!-- catalog -->
    <div class="catalog">
    <div id="Menu" class="Menu">
<!-- 1st product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/11.png" alt="">
            <p style="font-size: 20px;">Summer Time Exfoliator</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
        <button class="add_to_cart_button"  onclick="addToCart()">
            <img src="../images/AddToCart.png" alt="Click Me">
        </button>
        </div>
        </div>
<!-- 2nd product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/1.png" alt="">
            <p style="font-size: 20px;">Summer Time Cream</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.00</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div>
<!-- 3rd product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/2.png" alt="">
            <p style="font-size: 20px;">Summer Time Cleanser</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$4.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div>
<!-- 4th product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/3.png" alt="">
            <p style="font-size: 20px;">Summer Time Night Cream</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div>
<!-- 5th product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/4.png" alt="">
            <p style="font-size: 20px;">Summer Time Serum</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div>
<!-- 6th product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/5.png" alt="">
            <p style="font-size: 20px;">Summer Time Toner</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div>
<!-- 7th product -->
    <div class="product_card">
        <a href="../ProductDetail/index2.html">
            <div class="product_features">
            <img class="new_tag" src="../images/New.png" alt="new_item">
            <img class="browse_image" src="../images/6.png" alt="">
            <p style="font-size: 20px;">Summer Time Essence</p>
            <div class="price">
            <del>$7.00</del>
            <span><b>$6.50</b></span>
            </div>
            <p><span style="font-weight: bold;">500</span> reviews</p>
            <p><span style="font-weight: bold;">12K</span> sold</p>
            <img class="free_delivery" src="../images/Free Delivery.png" alt="free_delivery_status">
            </div>
        </a>
        <div class="add_to_cart">
            <button class="add_to_cart_button"  onclick="addToCart()">
                <img src="../images/AddToCart.png" alt="Click Me">
            </button>
        </div>
    </div> 
    </div> 
    </div>
    <!-- Cart section -->
    <div class="cart">
        <h2>Your Cart</h2>
        <div class="cart_content">
            <div class="cart_box">
                <!-- <img class="product_image" src="../images/1.png" alt="">
                <div class="detail_box">
                    <div class="cart_product_title">Kylie CLeanser</div>
                    <div class="cart_product_price">$0</div>
                    <input type="number" value="1" class="cart_product_quantity">
                </div>
                <i class='bx bxs-trash cart_remove'></i> -->
            </div>
        </div>
        <div class="total">
            <div class="total_title">Total</div>
            <div class="total_price">$0</div>
        </div>
        <button type="button" class="view_cart_btn">View Cart</button>
        <i class='bx bx-x close_cart' onclick="closeCart()"></i>
    </div>
    </div>

</main>
    <script src="Catalog.js"></script>
</body>
</html>